
<section class="slide whiteSlide">
    <div class="content">
        <div class="container">
            <div class="wrap padding-top-6 padding-bottom-6">
                <div class="fix-12-12">
                    <ul class="flex fixedSpaces later">
                        <li class="margin-bottom-phablet-6 col-5-12 col-tablet-3-5 col-phablet-1-1 align-left phablet-align-center">
                            <a href="#" class="inlineBlock margin-bottom-6 margin-bottom-tablet-3"><img src="#{dir}../assets/svg/proyecto2/art-gallery-logo.svg" width="52" height="30"/></a>
                            <h1 class="smallest margin-bottom-3">Museum of Berlin Art</h1>
                            <p class="margin-bottom-6 margin-bottom-tablet-3 opacity-5 large art-gallery-custom-line-height">Museum is the place for future artist with futuristic vision. Our free platform, supported by&nbsp;the government offers the best conditions as for artworks and artists&nbsp;itself.</p>
                            <p class="crop large art-gallery-custom-line-height">Berlin, Germany<br>st. Haufenstrasse 11A<br><br>berlin@art.com<br>+ 1-123-456-78-90</p>
                        </li>
                        <li class="col-7-12 col-tablet-2-5 col-phablet-1-1 align-right phablet-align-center">
                            <h2 class="margin-bottom-3 small"><a href="#" target="_blank">Instagram</a></h2>
                            <h2 class="margin-bottom-3 small"><a href="#" target="_blank">Telegram</a></h2>
                            <h2 class="margin-bottom-3 small"><a href="#" target="_blank">Twitter</a></h2>
                            <h2 class="margin-bottom-3 small"><a href="#" target="_blank">Youtube</a></h2>
                            <h2 class="margin-bottom-3 small"><a href="#" target="_blank">Snapchat</a></h2>
                            <h2 class="small"><a href="#" target="_blank">Behance</a></h2>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>



include ../svg_libraries
</body>
</html>