<nav class="panel top forceMobileView white">
    <div class="sections desktop">
        <div class="left text-black">
            <a href="#"><img src="#{dir}../assets/svg/proyecto2/art-gallery-search.svg"></a>
        </div>
        <div class="center text-black"><a href="#" title="Slides Framework"><img src="#{dir}../assets/svg/proyecto2/art-gallery-logo.svg"></a></div>
        <div class="right text-black">
            <span class="font-size-18">
                <a class="language-button language-active" href="#">English&nbsp;</a>
                    <span class="weight-6">&nbsp;/&nbsp;</span>
                <a class="language-button" href="#">&nbsp;Deutsche</a>
            </span>
        </div>
    </div>
    <div class="sections compact hidden">
        <div class="left"><a href="#" title="Slides Framework"><img src="#{dir}../assets/svg/proyecto2/art-gallery-logo.svg"></a></div>
        <div class="right"><span class="button actionButton sidebarTrigger" data-sidebar-id="art-gallery-menu-1"><svg><use href="#{dir}../assets/svg/proyecto2/icon-set.svg?p=K3pa7jkW#menu"></use></svg></span></div>
    </div>
</nav>