-
    //- Variables PUG/JS Locales - NIVEL 1
    const dir = '';

include ../../includes/headp1

<section class="slide autoHeight whiteSlide slide-132 light-gray-bg animate active selected">
    <div class="content padding-top-9">
        <div class="container">
            <div class="wrap padding-top-tablet-6 padding-right-desktop-12">
                <div class="fix-5-12 align-center restaurant-box-1">
                    <p class="margin-bottom-3 font-size-12 uppercase weight-7 ae-1 done">
                        <img src="#{dir}../assets/svg/proyecto1/restaurant-pin.svg" class="margin-right-1 middle shift-up-2" alt="Pin icon" width="12">
                        421 Amsterdam Ave, NYC
                    </p>
                    <h2 class="margin-bottom-3 large weight-7 ae-2 done">Local <i class="text-orange">family first</i> Restaurant in Little Italy, NYC</h2>
                    <p class="margin-bottom-4 ae-3 done">Neapolitans - is the family place, that follows traditions through the&nbsp;decades. Pizza, wine, parma and&nbsp;more.</p>
                    <a href="#" class="crop margin-right-2 margin-right-phone-0 margin-bottom-phone-2 button text-black stroke flat round btn-132 ae-4 done"><span class="font-size-12 uppercase weight-7">Open menu</span></a>
                    <a href="#" class="crop flat button amber round btn-132 ae-5 done"><span class="font-size-12 uppercase weight-7">Place order</span></a>
                </div>
            </div>
            <div class="wrap fromRight ae-1 done" style="background-image: url(#{dir}../assets/img/proyecto1/backgrounds/restaurant-1.jpg);"></div>
        </div>
    </div>
</section>



script
    include ../../scripts/console.js


include ../../includes/footerp1