
<section class="slide  autoHeight customFooter after" data-title="Footer" data-name="footer">
    <div class="content">
        <div class="container">
            <div class="wrap">
                <div class="fix-8-12" style="margin-top: -120px; ;margin-bottom: -80px">

                    <div class="center text-white">
                        <img src="assets/img/homepage/brands/brand_des.png" alt="" width="400">
                        <div class="hideForTablet margin-top-1 margin-bottom-4 ">
                            <h6 class="smaller weight-6 ">#742 Evergreen Terrace, Oficina 605 | Solo WhatsApp +56 9 12345678 | Solo Llamadas +56 11223344</h6> <br>
                            <p class="smallest weight-3 " style="margin-top: -28px">© 2023 Desprogramadores Chile SPA | Todos los Derechos Reservados | Sprinfield, EE.UU. | contacto@desprogramadoreschile.org</p>
                        </div>
                        <div class="hideForDesktop">
                            <p class="smaller margin-top-1" style="margin-bottom: -7px">© 2023 Desprogramadores Chile, SPA.</p>
                            <p class="smaller margin-top-1" style="margin-bottom: -7px">Springfield</p>
                            <p class="smaller margin-top-1" style="margin-bottom: -7px">#742 Evergreen Terrace</p>
                            <p class="smaller margin-top-1" style="margin-bottom: -7px">contacto@desprogramadoreschile.org</p>
                            <p class="smaller margin-top-1" style="margin-bottom: -7px">Solo WhatsApp +56 9 12345678</p>
                            <p class="smaller margin-top-1" style="margin-bottom: -7px">Solo Llamadas +56 12345678</p>
                            <p class="smaller margin-top-1">RUT Empresa : 11111111-1</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



include svg_libraries
</body>
</html>