


<nav class="panel fixed bottom forceMobilView">
    <div class="sections desktop">
        <div class="right">
            <a href="https://api.whatsapp.com/send?phone=56987915152&amp;text=¡Hola%20Desprogramdores!" target="_blank">
        <span class="button big top actionButton dropdownTrigger social-whatsapp margin-bottom-2">
            <span class="material-icons" style="font-size: 34px !important; top: -8px; left: -7px">whatsapp</span>
        </span>
            </a>
        </div>
    </div>
</nav>