<nav class="sidebar" data-sidebar-id="1">
    <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
    <div class="content">
        <div class="left"><img src="#{dir}../assets/svg/proyecto1/restaurant-logo.svg" alt=""> </div>
        <ul class="mainMenu margin-top-3">
            <li><a href="#" class="weight-7 opacity-5">Menu</a></li>
            <li><a href="#" class="weight-7 opacity-5">New</a></li>
            <li><a href="#" class="weight-7 opacity-5">The team</a></li>
            <li><a href="#" class="weight-7 opacity-5">References</a></li>
            <li><a href="#" class="weight-7 opacity-5">Contact</a></li>
        </ul>
        <ul class="subMenu small opacity-8">
            <li><a href="#" class="weight-7 opacity-5">Menu</a></li>
            <li><a href="#" class="weight-7 opacity-5">New</a></li>
            <li><a href="#" class="weight-7 opacity-5">The team</a></li>
            <li><a href="#" class="weight-7 opacity-5">References</a></li>
            <li><a href="#" class="weight-7 opacity-5">Contact</a></li>
        </ul>
        <ul class="social opacity-8">
            <li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg></a></li>
            <li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram"></use></svg></a></li>
        </ul>
    </div>
</nav>